.profile_img_review {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.review_profile {
    display: flex;
    flex-wrap: wrap;
}

.review_conatiner {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2em;

}

.review_second_container {
    width: 500px;
    height: 250px;
    border: 1px solid lightgrey;
    padding: 20px;
    overflow-y: auto;
    overflow-x: auto;
    transition: box-shadow 0.5s;
}

.review_second_container:hover {
    box-shadow: 0 0 10px rgb(98, 95, 95);
}

.profile_name_review {
    font-size: 20px;
    margin-left: 10px;
    margin-top: 10px;
}

.Stars {
    font-size: 20px;
}

.Review {
    font-size: 20px;
    overflow-wrap: break-word;
}

.review_by_biz_contanier {
    margin-left: 20px;
    width: 500px;
    padding-top: 20px;
    padding-left: 20px;
}

.no_review_words {
    margin-left: 20px;
    width: 460px;
    font-size: 25px;
    color: gray;
    margin-top: 10px;
}

.profile_img_and_name_review {
    display: flex;
    margin-top: 20px;
}

.line {
    width: 490px;
    margin-bottom: 20px;
    margin-left: 40px;
    margin-top: 20px;
}

.review_outter_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -50px;
    /* margin-left: -190px; */
}

.Recommended {
    margin-left: 40px;
    padding-top: 50px;
    margin-left: -135px;
}

.business_name_review {
    margin-top: 10px;
    font-size: 25px;
    overflow-wrap: break-word;
}

.business_link_review {
    color: rgba(2, 122, 151, 1);

}

.business_link_review:hover {
    text-decoration: underline;

}

.business_link_review:active {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.edit_link_review {
    color: inherit;
    font-size: 18px;
    margin-right: 15px;
    color: blue;
    box-shadow: none;
}

.edit_link_review:hover {
    text-shadow: 0px 0px 5px rgb(189, 187, 187);

}

.delete_review {
    cursor: pointer;
    border: none;
    background-color: rgba(237, 232, 232, 0);
    font-size: 17px;
    color: red;
}

.delete_review:hover {
    text-shadow: 0px 0px 5px rgb(189, 187, 187);

}

.ReviewForm_review {
    word-wrap: break-word;
    word-break: break-word;
    overflow-wrap: break-word;
    font-size: 17px;
    margin-bottom: 5px;
}

.ReviewForm_reviewImg{
    width: 480px;
    height: 300px;
    margin-left: 0;
}

#upload_file {
    cursor: pointer;
    margin: 10px 10px;
    font-size: 17px;
    margin: 10px, 0px
}

.Review_img{
    font-size: 25px;
    margin: 20px;
}

.optional{
    color: rgb(0, 187, 255);
}

.upload_delete_button_div_review{
    margin-left: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
}



/* Create / Edit Form */

.review_form_container {
    display: flex;
    justify-content: center;
    align-items: center;
}


/* .fa-star{
    cursor: pointer;
    transition: color 200ms;

} */

.rating_input {
    display: none;
}


.react-simple-star-rating-tooltip {
    width: 200px;
    font-size: 20px;
    text-align: center;
}

.react-simple-star-rating {
    background-color: red;
}

.XXX {
    position: absolute;
    right: 3px;
    top: 3px;
    border: none;
    background-color: white;
    cursor: pointer;
    font-size: 20px;
}

.review_form_container {
    padding: 50px;
}

.Review_errorsList {
    color: red;
}

.Update_review {
    text-align: center;
    margin-bottom: 20px;
    font-size: 35px;
    color: orangered;
}

.REview_word {
    font-size: 25px;
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.Review_ReviewForm {
    width: 345px;
    height: 100px;
    font-size: 18px;
    margin-left: 10px;
    border: 1px solid gray;
    border-radius: 5px;
}

.move_word_up {
    display: flex;
}

.Create_a_review_button {
    text-align: center;
    display: flex;
    padding: 10px;
    margin-left: 155px;
    margin-top: 30px;
    background-color: red;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    /* transition: all 0.3s ease-in; */
}

.Create_a_review_button:active {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.star-icon {
    color: gold;
    font-size: 22px;
    margin: 5px 0;
}

.Review_date{
    font-size: 17px;
    margin-bottom: 2px;
}


.create_review_button_modal {
    border: none;
    border-radius: 5px;
    background-color: red;
    color: white;
    font-size: 25px;
    padding: 10px;
    cursor: pointer;
    transition: all 0.3s ease-in;
}

.create_review_button_modal:hover {
    box-shadow: 5px 5px 5px rgb(180, 177, 177);
}

.edit_review_modal {
    cursor: pointer;
    font-size: 17px;
    color: blue;
    margin-right: 5px;
}

.edit_review_modal:hover {
    text-shadow: 0px 0px 5px rgb(189, 187, 187);
}



.edit_link_for_business {
    color: inherit;
    font-size: 20px;
    margin-right: 15px;
    color: blue;
    box-shadow: none;
    text-shadow: none;
}

.edit_link_for_business:hover {
    text-shadow: 0px 0px 5px rgb(189, 187, 187);

}

.star1 {
    font-size: 50px;
    cursor: pointer;
}

/* .star_icon:hover {
    color: gold;
    
} */

.star_comment {
    font-size: 45px;
    margin-left: 10px;
    padding: 10px;
   
}

.icon1{
    margin-left: 50px;
}

.fa-thumbs-up{
    font-size: 25px;
    color: rgb(32, 133, 248);
    cursor: pointer;
    margin-top: 5px;
}

.likes-count{
    color: coral;
    margin-left: 5px;
    font-size: 18px;
}



/* .star1 > .fa-solid:hover,
.star1 > .fa-solid:hover ~ .fa-solid {
  color: gold;
} */

/* .star1 > .fa-solid:hover:before,
.star1 > .fa-solid:hover ~ .fa-solid:before {
   content: "\f005";
  
   color: gold;
} */

/* 
.star1>i:hover:before,
.star1>i:hover~i:before {
    content: "\f005";
    color: gold;
} */

/* .star1>i:focus:before,
.star1>i:before {
    content: "\f005";
    color: gold;
} */