.signup_container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 150px;

}



.Sign_Up_word{
    color: rgb(216, 5, 5);
    margin-bottom: 10px;
    text-align: center;
    font-size: 30px;
    
}

.signup_button_and_word{
    display: flex;
    flex-direction: column;
}

.signup_Already_word{
    font-size: 14px;
    margin-left: 130px;
}

.signup_login_link{
    margin-left: 5px;
    color: rgb(4, 183, 243);
}

.signup_Form_container{
    width: 300px;
}

.Sign_Up_Connect_word{
    margin-bottom: 80px;
    font-size: 15px;
    margin-left: 10px;
   
}

.signup_picture{
    margin-left: 80px;
    margin-top: 3px;
}